body {
  background: url("./backgroundImg.jpg") no-repeat center fixed;
  background-size: cover;
}

.App {
  text-align: center;
  font-family: "Mystery Quest", cursive;

  --parchment: #f9e9b3;
  --validate-btn: #532a10;
  --dark-brown: #3f1a08;
  --light-brown: #6e3e1a;
  --borders: #810000;

  --main-text: #f9e9b3;
}

/* GENERAL */
.game-space {
  margin: 0 auto;
  width: 50%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* INDIVIDUAL RAWS */

.combination-area {
  background: var(--parchment);
  width: 70%;
  height: 60px;
}

.validate-area {
  width: 15%;
  height: 60px;
  background: var(--dark-brown);
}

.result-area {
  background: var(--light-brown);
  width: 15%;
  height: 60px;
}

.circle {
  border: none;
  outline: none;
  margin-right: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.result-circle {
  border: none;
  outline: none;
  margin-right: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.validate-button {
  width: 100%;
  height: 100%;
  background: var(--validate-btn);
  font-family: "Mystery Quest", cursive;
  font-size: larger;

  border: none;
  outline: none;
}

/* CONTROL PANEL */

.control-panel {
  width: 50%;
  height: 90px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;

  background-color: var(--dark-brown);

  border-radius: 10px;
  position: relative;
}

.control-circle {
  border: none;
  outline: none;

  margin-right: 10px;

  border-radius: 50%;
  height: 65px;
  width: 65px;
}

/* SCORE */
.header-panel {
  width: 50%;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 10px;

  background-color: var(--dark-brown);
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-area {
  margin: 0;
  padding: 0;
  position: relative;
  flex: 1;
  max-width: 50%;
}

/* REPLAY */
.replay-area {
  flex: 1;
  max-width: 50%;
}

.replay-button {
  width: 120px;
  height: 50px;
  font-family: "Mystery Quest", cursive;
  font-size: larger;
  background: var(--validate-btn);

  outline: none;
  border-radius: 5px;
  border: 2px solid var(--borders);
}

/* SOLUTION */

.solution-area {
  position: relative;
  width: 50%;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 0;
  position: relative;
  border-radius: 15px;
  background-color: var(--dark-brown);
}

/* RULES */
.rules {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  background-color: var(--parchment);
  border-radius: 10px;
  position: relative;
}

.rules-command {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.rules-command:hover {
  font-size: 1.3rem;
}

.rules-item {
  padding-left: 5%;
  padding-right: 5%;
}

.rules p:last-of-type {
  padding-bottom: 10px;
}

/* BOUNCY WIN PANEL */

.animate {
  font-size: 90px;
  margin: 100px 0 0;
}

.animate span {
  display: inline-block;
}

.animate span:nth-of-type(2) {
  animation-delay: 0.07s;
}
.animate span:nth-of-type(3) {
  animation-delay: 0.12s;
}
.animate span:nth-of-type(4) {
  animation-delay: 0.17s;
}
.animate span:nth-of-type(5) {
  animation-delay: 0.22s;
}
.animate span:nth-of-type(6) {
  animation-delay: 0.27s;
}
.animate span:nth-of-type(7) {
  animation-delay: 0.32s;
}
.animate span:nth-of-type(8) {
  animation-delay: 0.32s;
}

.win-panel {
  position: fixed;
  width: 100%;
  height: 300px;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px 0px 31px 11px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 31px 11px rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.winner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.loser-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.winner-container span {
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transform: translate(-150px, 0) scale(0.3);
  animation: leftRightWin 0.5s forwards;
}

@keyframes leftRightWin {
  40% {
    transform: translate(50px, 0) scale(0.7);
    opacity: 1;
    background-image: linear-gradient(
      to right,
      #462523 0,
      #cb9b51 22%,
      #f6e27a 45%,
      #f6f2c0 50%,
      #f6e27a 55%,
      #cb9b51 78%,
      #462523 100%
    );
    color: transparent;
    -webkit-background-clip: text;
  }

  80% {
    transform: translate(0) scale(2);
    opacity: 0;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}

.loser-container span {
  background-image: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background-image: linear-gradient(to right, #2c3e50, #bdc3c7);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transform: translate(-150px, 0) scale(0.3);
  animation: leftRightLose 0.5s forwards;
}

@keyframes leftRightLose {
  40% {
    transform: translate(50px, 0) scale(0.7);
    opacity: 1;
    background-image: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background-image: linear-gradient(to right, #2c3e50, #bdc3c7);
    color: transparent;
    -webkit-background-clip: text;
  }

  80% {
    transform: translate(0) scale(2);
    opacity: 0;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}
